/**
* 颜色预制
**/
$back: #f1f3f5 !default;
$text1: rgba(0, 0, 0, 0.9) !default;
$text2: rgba(0, 0, 0, 0.6) !default;
$text3: rgba(0, 0, 0, 0.4) !default;
$white: #fff !default;
$white_hover: hsl(200, 12%, 98%) !default;
$highlight: #0a59f7 !default;
$highlight_hover: hsl(220, 94%, 45%) !default;
$danger: #ff4d4f !default;
$danger_hover: hsl(359, 100%, 45%) !default;
$divider: rgba(51, 0, 0, 0.2) !default;
$divider_light: rgba(51, 0, 0, 0.05) !default;
$border: #d9d9d9 !default;
$border_hover: #bdbdbd !default;

/**
* 布局预制
**/
$con_width: 720px !default;
$detail_width: 820px !default;
$nav_height: 64px !default;
